/*Importar fuentes para aplicarlas a toda la página*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');
/*============================================================================================================*/
                                            /* FORMATEAR LA PÁGINA */
*{
    margin: 0; /*estoy eliminando cualquier espacio en blanco alrededor de los elementos.*/
    padding: 0; /*esto significa que no habrá espacio entre el contenido interno de los elementos y sus bordes.*/
    box-sizing: border-box; /*agente de usuario  que define alto y ancho de los elementos de cajas.En este caso border-box hará que el ancho y alto especificados incluyan el borde y el relleno O padding, lo que simplifica el dimensionamiento.  */
    text-decoration: none; /*Estoy eliminando cualquier decoración de texto, como subrayados en enlaces.*/
    list-style: none; /*Estoy eliminando los estilos de viñetas o numeración de las listas*/
}
/*============================================================================================================*/
                           /* ESTILOS GENERALES DEL BODY Y DE LOS CONTENEDORES */
body{
    font-family: 'Poppins', sans-serif; /*Aplicando las fuentes importadas en todo el body*/
}
.container{
    max-width: 1200px; /*Aquí estás estableciendo la anchura máxima del contenedor en 1200 píxeles. 
    
    Esto significa que el contenedor no se expandirá más allá de este ancho, incluso si el contenido dentro de él podría ocupar más espacio.*/

    margin:0 auto; /*Esta propiedad está estableciendo el margen superior e inferior en 0 píxeles, y el margen izquierdo y derecho se establecen automáticamente. 
    
    El valor auto en el margen izquierdo y derecho hace que el contenedor se centre horizontalmente dentro de su contenedor padre.*/
}
/*============================================================================================================*/
                                          /* ESTILOS HEADER */
.header{
    /* Imagen de fondo del header */
    background-image: linear-gradient( /* Imagen de fondo del header */
        rgba(0, 0, 0, 0.7), /*degradado (linear-gradient) para crear una capa semi-transparente (con fondo negro) encima de la imagen*/
        rgba(0,0,0,0.7)),
        url(images/bg.jpg); 

    background-position: center bottom; /*Posicionar fondo en el centro horizontal, y la parte inferior vertical*/
    background-repeat: no-repeat; /*No repetir el fondo de imagen*/
    background-size: cover; /*Configurando tamaño de la imagen de fondo para que cubra toda el área del encabezado*/
    min-height: 70vh; /*se está utilizando para establecer la altura mínima del encabezado (.header) en un 70% del alto de la ventana del navegador.*/
    display: flex; /* propiedad de diseño flexible para permitir que los elementos dentro del encabezado se distribuyan y alineen de manera flexible.*/
    align-items: center; /*Esto asegura que el contenido dentro del encabezado esté centrado verticalmente.*/
}
/*============================================================================================================*/
                                             /*ESTILOS DEL MENÚ LOGO BOTON Y NAV*/
.menu{
    position: absolute; /*Esto posiciona el menú en relación con su primer ancestro*/
    top:0; /*Esto coloca el menú en la parte superior de su contenedor, El menú estará justo en el borde superior del contenedor */
    left: 0; /*el menú estará justo en el borde izquierdo del contenedor.*/
    right: 0; /*el menú estará justo en el borde derecho del contenedor.*/
    display: flex; /* Los elementos del menú se distribuyen y se alinean de manera flexible*/
    align-items: center; /*Alineando verticalmente al centro*/
    justify-content: space-between; /*Aqui se distribuye un espacio entre los elementos hijos del menú*/
}

.logo{
    color: #FFFDFC; 
    font-size: 40px; 
    font-weight: 800; /*Esto establece el grosor de la fuente*/
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: #CE967B;
}
#menu{
    display: none;
}
.menu-icono{
    width: 40px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    text-align: center;
}
.header-content h1{
    font-size: 75px;
    line-height: 80px;
    color: #FFFDFC;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.header-content p{
    font-size: 16px;
    color: #C5C5C5;
    padding: 0 250px;
    margin-bottom: 25px ;
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #a36f55;
    color: #F9FAFC;
    text-transform: uppercase;
}
.btn-1:hover{
    background-color: #ebad8d;
}
/*============================================================================================================*/
.coffee{
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}
.coffee-content{
    text-align: center;
}
.coffee-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}
.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.coffee-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px ;
}
.coffee-1{
    padding: 0 25px;
}
.coffee-1 img{
    width: 200px;
}
.coffee-img{
    position: absolute;
    top: 0;
    right: 0;
}
.coffee-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

/*============================================================================================================*/
.services{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/bg2.jpg);
    background-position: center center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 100px 0;
}
.services-content{
    text-align: center;
}
.services-content h2{
    font-size: 55px;
    line-height: 70px;
    color:#F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.services-content p{
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}
.services-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services-1{
    padding: 0 100px;
}
.services-1 img{
    width: 25px;
    margin-bottom: 15px;
}
.services-1 h3{
    color: #EACCB3;
    font-size: 18px;
}

/*============================================================================================================*/
.general{
    display: flex;
}
.general-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}
.general-2{
    background-image: url(images/coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 50%;
}
.general-3{
    background-image: url(images/coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover ;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}
/*============================================================================================================*/
.blog{
    padding: 100px 0;
    justify-content: space-between;
}
.blog-content{
    display: flex;
    justify-content: space-between;
}
.blog-1{
    padding: 15px 55px;
}
.blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.blog-1 h3{
    font-size: 25px;
    color: #323337;
}

.info-dev {
    display: flex;
    min-width:max-content;
    background-color: #a36f55;
    width: 460px;
    height: 350px;
    margin-left:38%;
    margin-bottom: 1%;
    padding: 10px;
}
.blog-3 img{
    display: block;
    margin-left: 5%;
    width: 160px;
    border-radius: 50%;
}
.blog-3 h3{
    color: #F9FAFC;
}
.blog-3 p{
    color: #F9FAFC;
}
/*============================================================================================================*/
.footer{
    width: 100%;
    padding: 100px 0;
    background-color: #000000;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}
.link a{
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}
.copyright{
    margin-left: -5%;
    padding: 5px;
}
.copyright p{
    color: #E1E2E6;
}
/*============================================================================================================*/
@media(max-width:991px){
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu_:checked ~ .navbar{
        display: initial;
    }
/*___________________________________________________________________________________________________________*/
    .header{
        min-height: 0vh;
    }
    .header-content{
        padding:100px 5px;
    }
    .header-content p{
        padding: 0;
    }
/*___________________________________________________________________________________________________________*/
    .coffee{
        padding: 30px;
    }
    .coffee-content h2{
        padding: 0;
    }
    .txt-p{
        padding: 0;
    }
    .coffee-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .coffee-img{
        display: none;
    }
/*___________________________________________________________________________________________________________*/
    .services{
        padding: 30px;
    }
    .services-content p{
        padding: 0;
    }
    .services-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .services1{
        margin-bottom: 25px;
    }
/*___________________________________________________________________________________________________________*/
    .general{
        flex-direction: column;
    }
    .general-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .general-2, .general-3{
        display: none;
    }
/*___________________________________________________________________________________________________________*/
    .blog{
        padding: 30px;
    }
    .blog-content{
        flex-direction: column;
    }
    .blog-1{
        padding: 0;
    }
/*___________________________________________________________________________________________________________*/
    .info-dev{
        width: 80%;
        height: 300px;
        margin-left: 0%;
        margin-bottom: 10%;
        margin-top: 5%;
    }
    .info-dev img{
        margin-left: 0%;
        width: 200px;
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}
