
.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    /* border-bottom: 0.5px solid white; */
    padding: 2%;
    border-radius: 10px;
    font-size: .8rem;
    justify-content: space-between;
}
.tw-followCard .tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}
.tw-followCard .tw-followCard-header .tw-followCard-info{
    display: flex;
    flex-direction: column;
}
.tw-followCard .tw-followCard-header .tw-followCard-infoUserName{
    opacity: .6;
}
.tw-followCard .tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-followCard .tw-followCard-button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
    transition: .3s ease background-color;
}
.tw-followCard .tw-followCard-button:hover{
    background: #089fb9;
    color: white;
}
.tw-followCard-text{
    display: block;
}
.tw-followCard-button.is-following {
    border: 1px solid #bbb;
    color: white;
    background: transparent;
    width: 140px;
}
.tw-followCard-button.is-following:hover{
    background: rgba(238, 81, 81, 0.308);
    color: red;
    border: 1px solid red;
    transition: .3s ease all;
    opacity: 1;
}
.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}
.tw-followCard-button.is-following:hover .tw-followCard-stopFollow{
    display: block;
}
.tw-followCard-stopFollow{
    display:none;
}
.p-timer{
    color: white;
}
.counter{
    color: white;
}
.f-basic{
    margin-bottom: 2%;
}
.mb-3{
    color: white;
}
.mb-3 .text-muted{
    color: white !important;
}
.carousel {
    max-width: 400px;
}
.carousel-inner {
    border-radius: 10px;
}
