.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    /* border-bottom: 0.5px solid white; */
    padding: 2%;
    border-radius: 10px;
    font-size: .8rem;
    justify-content: space-between;
}
.tw-followCard:hover{
    background: #0f0f0f;
    transition: .3s ease background-color;
}
.tw-followCard .tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}
.tw-followCard .tw-followCard-header .tw-followCard-info{
    display: flex;
    flex-direction: column;
}
.tw-followCard .tw-followCard-header .tw-followCard-infoUserName{
    opacity: .6;
}
.tw-followCard .tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-followCard .tw-followCard-button{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
}
.tw-followCard .tw-followCard-button:hover{
    background: #089fb9;
    transition: .3s ease background-color;
    color: white;
}